<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.android_exam" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.FrameLayoutActivity"
            android:label="@string/title_activity_frame_layout" >
        </activity>
        <activity
            android:name=".Mission01.Mission01Activity"
            android:label="@string/title_activity_mission01" >
        </activity>
        <activity
            android:name=".Mission02.Mission02MainActivity"
            android:label="@string/title_activity_mission02_main" >
        </activity>
        <activity
            android:name=".Mission03.Mission03MainActivity"
            android:label="@string/title_activity_mission03_main" >
        </activity>
        <activity
            android:name=".Mission03.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".Mission03.customerActivity"
            android:label="@string/title_activity_customer" >
        </activity>
        <activity
            android:name=".Mission03.SalesMainActivity"
            android:label="@string/title_activity_sales_main" >
        </activity>
        <activity
            android:name=".Mission03.ProductActivity"
            android:label="@string/title_activity_product" >
        </activity>
        <activity
            android:name=".Activity.ActivityExamActivity"
            android:label="@string/title_activity_acivity_exam" >
        </activity>
        <activity
            android:name=".Activity.TargetActivity"
            android:label="@string/title_activity_target" >
        </activity>
        <activity
            android:name=".Activity.WebActivity"
            android:label="@string/title_activity_web"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".Mission05.DatePickerDialogActivity"
            android:label="@string/title_activity_date_picker_dialog" >
        </activity>
        <activity
            android:name=".Animation.AnimationActivity"
            android:label="Animation 연습" >
        </activity>
        <activity
            android:name=".Calendar.CalendarActivity"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name=".Calendar2.Calendar2Activity"
            android:label="달력(Android 내장)" >
        </activity>
        <activity
            android:name=".Extra.ExtraActivity"
            android:label="@string/title_activity_list_view" >
        </activity>
        <activity
            android:name=".thread.ThreadActivity"
            android:label="@string/title_activity_thread" >
        </activity>
        <activity
            android:name=".parsing.jason.WeatherActivity"
            android:label="날씨 불러오기 연습" >
        </activity>
        <activity
            android:name=".fragment.FragmentActivity"
            android:label=" fragment 연습" >
        </activity>
        <activity
            android:name=".viewPager.ScreenSlideActivity"
            android:label="스크린 슬라이드 연습" >
        </activity>

        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.MY_BROADCAST"/>
            </intent-filter>
        </receiver>
        <activity android:name=".receiver.BroadcastActivity"
            android:label="브로드캐스트 연습">
        </activity>

    </application>

</manifest>
