<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.android_exam" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.FrameLayoutActivity"
            android:label="@string/title_activity_frame_layout" >
        </activity>
        <activity
            android:name=".Mission01.Mission01Activity"
            android:label="@string/title_activity_mission01" >
        </activity>
        <activity
            android:name=".Mission02.Mission02MainActivity"
            android:label="@string/title_activity_mission02_main" >
        </activity>
        <activity
            android:name=".Mission03.Mission03MainActivity"
            android:label="@string/title_activity_mission03_main" >
        </activity>
        <activity
            android:name=".Mission03.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".Mission03.customerActivity"
            android:label="@string/title_activity_customer" >
        </activity>
        <activity
            android:name=".Mission03.SalesMainActivity"
            android:label="@string/title_activity_sales_main" >
        </activity>
        <activity
            android:name=".Mission03.ProductActivity"
            android:label="@string/title_activity_product" >
        </activity>
    </application>

</manifest>
